
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

html, body {
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100dvh;
}

@media (max-width: 600px) {
  html,
  body,
  #root {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}